@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Global colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure Leaflet map fills the screen */
#map {
  height: 100vh;
  width: 100%;
}